@mixin title {
    font-family: Pacifico;
    color: var(--color_6);
    font-size: 56px;
    margin-bottom: 32px;
    padding: 0 16px;
}

@mixin subtitle {
    font-size: 2rem;
    color: var(--color_9);
    margin-bottom: 16px;
    font-weight: 600;
}

@mixin button {
    transition: .2s;
    background-color: var(--color_6);
    color: var(--color_1);
    padding: 16px 32px;
    text-align: center;
    font-size: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 20px -5px #00000033;
    cursor: pointer;
    width: 100%;

    &:hover {
        scale: 1.02;
    }
}

@mixin smallButton($color: var(--color_4)) {
    transition: .2s;
    background-color: $color;
    color: var(--color_1);
    padding: 8px 16px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 8px;
    box-shadow: 0 0 20px -5px #00000033;
    cursor: pointer;
    width: fit-content;

    &:hover {
        scale: 1.02;
    }
}

@mixin closeButton {
    transition: .2s;
    position: absolute;
    top: 70px;
    right: 70px;
    height: 70px;
    width: 70px;
    background-color: var(--color_5);
    font-family: NerdFont;
    font-size: 3rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 20px -5px #00000033;

    &:hover {
        scale: 1.05;
    }
}

@mixin popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    padding: 32px;
}

@mixin popup {
    height: 100%;
    width: 100%;
    background-color: var(--color_2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

@mixin deleteButton {
    transition: .2s;
    display: grid;
    align-items: center;
    font-size: 1.2rem;
    color: var(--color_1);
    cursor: pointer;
    background-color: var(--color_5);
    border-radius: 8px;
    font-family: NerdFont;
    height: 32px;
    width: 32px;

    &:hover,
    &:focus {
        scale: 1.05;
    }
}

@mixin newButton {
    transition: .2s;
    width: 536px;
    border-radius: 16px;
    border: 2px dashed var(--color_4);
    padding: 12px;
    font-size: 2.5rem;
    text-align: center;
    font-family: NerdFont;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        scale: 1.02;
    }
}

@mixin textInput {
    background-color: var(--color_1);
    padding: 16px 24px;
    font-size: 1rem;
    flex: 1 1;
    border-radius: 16px;
}

@mixin externalButton ($color: var(--color_4)) {
    transition: .2s;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: $color;
    color: var(--color_1);
    padding: 16px 32px;
    border-radius: 16px;
    width: fit-content;
    cursor: pointer;

    &:before {
        font-family: NerdFont;
    }

    &.document:before {
        content: "󰈔 "
    }

    &.link:before {
        content: "󰌷 ";
    }

    &:hover {
        scale: 1.05;
    }
}

@mixin checkbox {
    height: 32px;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid var(--color_6);
    cursor: pointer;

    &.check {
        &::after {
            content: "";
            font-family: NerdFont;
            font-size: 3rem;
            position: relative;
            bottom: 19px;
            left: 4px;
            color: var(--color_6);
        }
    }
}

@mixin dropdown {
    margin-bottom: 32px;

    .openDropdown {
        border: 2px solid var(--color_4);
        background-color: transparent;
        font-size: 1.5rem;
        padding: 8px 32px;
        border-radius: 50px;
        cursor: pointer;
        min-width: 150px;
        text-align: right;

        &:after {
            content: "";
            font-family: NerdFont;
            margin-left: 20px;
        }

        &.open {
            &:after {
                content: "";
            }
        }
    }

    .dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: var(--color_2);
        z-index: 20;
        border: 2px solid var(--color_4);
        border-radius: 16px;
        margin-top: 16px;
        padding: 16px;
        gap: 8px;
        font-size: 1.5rem;

        .item {
            padding: 8px 24px;
            border-radius: 50px;
            cursor: pointer;
            background-color: transparent;
            font-size: 1.5rem;
            border: 2px solid transparent;

            &.selected {
                background-color: var(--color_6);
            }

            &:hover {
                border: 2px solid var(--color_6);
            }
        }
    }
}