@import "../../scss/variables.scss";

.settings {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    left: 32px;
    margin: 0 auto;

    .title {
        @include title;
        border-bottom: 2px solid var(--color_7);
    }

    .subtitle {
        @include subtitle;
        color: var(--color_4);
        margin-top: 32px;
    }

    .switchTheme,
    .switchProfile {
        @include externalButton;
    }
}