@import "../../scss/variables.scss";

.newExamForm {
    @include popup-container;

    .close {
        @include closeButton;
    }

    .form {
        @include popup;

        .title {
            @include title;
        }

        form {
            display: flex;
            flex-direction: column;
            height: calc(100% - 128px);
            gap: 32px;
            padding: 32px;
            position: relative;

            .name-cfu {
                display: flex;
                gap: 16px;
                width: fit-content;

                input[type="text"] {
                    background-color: var(--color_1);
                    padding: 16px 32px;
                    font-size: 24px;
                    border-radius: 8px;
                    width: 400px;

                    &.cfu {
                        width: 120px;
                        text-align: center
                    }
                }

            }

            .content {
                display: grid;
                height: inherit;
                overflow-y: scroll;
                gap: 32px;
                grid-template-areas:
                    "links documents todo";

                .links,
                .documents,
                .todo {
                    .subtitle {
                        @include subtitle;
                        margin: 0;
                        color: var(--color_4);
                    }

                    .newButton {
                        @include newButton;
                    }
                }


                .links {
                    grid-area: links;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    width: fit-content;
                    margin: 0 auto;

                    .link {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        padding-bottom: 16px;
                        width: 536px;
                        position: relative;
                        border-bottom: 2px dashed var(--color_7);

                        &:last-of-type {
                            border: 0;
                        }

                        .linkTitle,
                        .linkValue {
                            @include textInput;
                        }

                        .delete {
                            @include deleteButton;
                            align-self: end;
                        }
                    }
                }

                .documents {
                    grid-area: documents;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    width: fit-content;
                    margin: 0 auto;

                    .document {
                        display: flex;
                        gap: 16px;
                        align-items: center;

                        .delete {
                            @include deleteButton;
                        }

                        .editFile {
                            transition: .2s;
                            font-family: NerdFont;
                            background-color: var(--color_6);
                            color: var(--color_1);
                            height: 32px;
                            width: 32px;
                            display: grid;
                            place-items: center;
                            font-size: 1.2rem;
                            border-radius: 8px;
                            cursor: pointer;

                            &:hover {
                                scale: 1.05;
                            }
                        }

                        .fileName {
                            @include textInput;
                        }
                    }
                }

                .todo {
                    grid-area: todo;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    width: fit-content;
                    margin: 0 auto;


                    .todoItem {
                        display: flex;
                        align-items: center;
                        gap: 16px;

                        .delete {
                            @include deleteButton;
                        }

                        .todoCheck {
                            @include checkbox;
                        }

                        .todoText {
                            @include textInput;
                        }
                    }
                }

                @media screen and (max-width: 1900px) {
                    grid-template-areas:
                        "links documents"
                        "links todo";
                }

                @media screen and (max-width: 1337px) {
                    grid-template-areas:
                        "links"
                        "documents"
                        "todo";

                    .links,
                    .documents,
                    .todo {
                        width: 100%;

                        .newButton {
                            width: 100%;
                        }
                    }
                }
            }

            .footer {
                width: 100%;
                border-top: 4px solid var(--color_7);
                background: var(--color_2);
                padding-top: 32px;

                input[type="submit"] {
                    @include button;
                    width: fit-content;
                }
            }
        }
    }
}