@import "../../scss/variables.scss";

.main {
    display: flex;
    height: 100%;

    .right-container {
        right: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: .4s;

        &.small {
            width: calc(100% - 300px);
        }

        .right {
            padding: 32px;
        }
    }
}