@import "../../scss/variables.scss";

.exams {
    position: absolute;
    width: 100%;

    .title {
        @include title;
        border-bottom: 2px solid var(--color_7);
    }

    .exams-list {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}