@import "../../scss/variables.scss";

$width: 300px;

.sidebar {
    position: fixed;
    height: 100%;
    width: $width;
    background-color: var(--color_2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    z-index: 10;
    transform: translateX(-$width);
    transition: .4s;

    &.opened {
        transform: translateX(0);
    }

    .date-selection {
        .title {
            font-size: 24px;
            color: var(--color_4);
            margin-bottom: 16px;
        }

        input[type="date"] {
            background-color: var(--color_2);
            color: var(--color_9);
            border: 2px solid var(--color_4);
            border-radius: 8px;
            padding: 8px;
            font-size: 16px;
            font-family: DMSans;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 16px;

            &::-webkit-calendar-picker-indicator {
                filter: invert(1);
            }
        }
    }
}

.open {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
    padding: 15px;
    transition: .4s;
    z-index: 10;

    &.opened {
        transform: translateX($width);
    }

    .icon {
        color: var(--color_1);
        background-color: var(--color_4);
        border-radius: 8px;
        font-family: NerdFont;
        transform: scale(1.1);
        cursor: pointer;
        font-size: 48px;
        height: 45px;
        width: 45px;
        padding: 5px;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}