@import "../../scss/variables.scss";

$width: 630px;

.sidebar {
    position: fixed;
    height: 100%;
    width: $width;
    background-color: var(--color_2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    z-index: 10;
    transform: translateX(-$width);
    transition: .4s;

    &.opened {
        transform: translateX(0);
    }

    .date-selection {
        .title {
            @include title;
        }
    }
}

.open {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
    padding: 15px;
    transition: .4s;
    z-index: 10;

    &.opened {
        transform: translateX($width);
    }

    .icon {
        color: var(--color_1);
        background-color: var(--color_4);
        border-radius: 8px;
        font-family: NerdFont;
        transform: scale(1.1);
        cursor: pointer;
        font-size: 48px;
        height: 45px;
        width: 45px;
        padding: 5px;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}