@import "../../scss/variables.scss";

.selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid var(--color_7);
    padding-top: 32px;
    position: absolute;
    bottom: 42px;
    left: 16px;
    width: calc(100% - 32px);

    .bubble {
        transition: .2s;
        position: absolute;
        background-color: var(--color_4);
        top: 18px;
        height: 64px;
        width: 64px;
        border-radius: 50px;
    }

    .icon {
        transition: .2s;
        font-family: NerdFont;
        font-size: 2rem;
        color: var(--color_4);
        background-color: transparent;
        cursor: pointer;
        z-index: 1;

        &.active {
            color: var(--color_1);
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}